services:
  db:
    image: postgres:16
    container_name: stoik_db
    environment:
      POSTGRES_USER: shortner
      POSTGRES_PASSWORD: shortner
      POSTGRES_DB: shortner
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8.12
    container_name: stoik_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata:
